/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width: 1440px) {
  .Limg {
    left: -90px;
  }
}

/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .motion {
    line,
    path {
      stroke-width: 8px;
    }
  }
  .ending-text {
    width: 40vw;
  }
}
/* md <= Large (lg) */
@media (max-width: 992px) {
}

/* sm <= Medium (md) */
@media (max-width: 768px) {
  .header__link {
    margin-right: 20px;
  }
  .header__links {
    margin-left: 20px;
  }
  .motion {
    width: 70vw;
    height: 20vh;
    line,
    path {
      stroke-width: 10px;
    }
  }
  .Limg {
    left: -300px;
  }
  .ending-text {
    width: 30vw;
  }
  .m-top {
    margin-bottom: 50px;
  }
}

/* xs <= Small (sm) */
@media (max-width: 425px) {
  .menu {
    display: flex;
    position: fixed;
  }
  .header {
    margin-top: 20px;
  }
  .hamburger {
    display: block;
  }
  .header__links {
    display: none;
  }
  .motion {
    width: 84vw;
    height: 20vh;
    line,
    path {
      stroke-width: 15px;
    }
  }
  .hello {
    height: calc(100vh - 66px);
  }
  .global-text {
    width: 37vw;
  }
  .emoji-img {
    height: calc(calc(1vw + 1vh) * 10);
    width: calc(calc(1vw + 1vh) * 12);
  }
  .start-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .global-text.right {
    width: 90vw;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
  }
  .start-button {
    height: calc(calc(1vw + 1vh) * 20);
    width: calc(calc(1vw + 1vh) * 20);
  }
  .general-header {
    font-size: 48px;
  }
  .section-container {
    margin-top: 60px;
    flex-direction: column;
  }
  .ending-text {
    width: auto;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .global-text.center.m-top {
    width: auto;
    margin-top: 50px;
  }
  .background-link {
    font-size: 24px;
  }
  .th3d-model {
    max-width: 375px;
    width: 100%;
    height: calc(calc(1vw + 1vh) * 22);
    background-color: black;
  }
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
}

/* Small (sm) */
@media (min-width: 576px) {
}

/* Medium (md) */
@media (min-width: 768px) {
}

/* Large (lg) */
@media (min-width: 992px) {
}

/* Extra large (xl) */
@media (min-width: 1200px) {
  .text {
    font-size: 18px;
  }
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
  .text {
    font-size: 22px;
  }
}
