.header {
  font-family: $regular-ff;
  font-weight: 500;
  color: $Header-background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__button {
  display: flex;
  align-items: center;
  img {
    margin-left: 5px;
  }
  background-color: transparent;
  border: 2px solid $Black-element;
  border-radius: 10px;
  padding: 9px 26px;
  transition: background-color, color cubic-bezier(0,.4,.03,.87) .4s;
}
.header__button:hover {
  cursor: pointer;
  background-color: $Donat-btn-hover-color;
  color: white;
  transition: background-color, color cubic-bezier(0,.4,.03,.87) .4s;
}




.header__links {
  margin-left: 200px;
  display: flex;
  align-items: center;
}

.header__link {
  margin-right: 43px;
  font-size: calc($regular-text * 1.25);
  text-decoration: none;
  color: $Black-element;
  transition: color cubic-bezier(0,.4,.03,.87) .4s;
}

// .header__link {
//   position: relative;
// }
// .header__link:hover,
// .header__link:active,
// .header__link:focus {
//   color: $accent-color;
//   transition: color cubic-bezier(0,.4,.03,.87) .4s;
// }
// .header__link:after {
//   position: absolute;
//   height: 2px;
//   left: 50%;
//   background: $accent-color;
//   bottom: -2px;
//   content: "";
//   transition: all 280ms ease-in-out;
//   width: 0;
// }

// .header__link:hover:after,
// .header__link:active:after,
// .header__link:focus:after {
//   width: 100%;
//   left: 0;
// }






.box {
  width: 100px;
  height: 2px;
  background-color: aqua;
  transition: .4s;
}

.red {
  height: 300px;
  background-color: blue;
  transition: .4s;
}



.hide {
  visibility:hidden;
  display: none;
}

.submenu {
  background-color: grey;
  position: absolute;
  width: 100%;
  left: 0;
  max-height: 300px;
  height: 100%;
  animation: submenu .4s;
}

@keyframes submenu {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}