/* RESET SECTION */

@import "_reset";

/* FONTS LOAD SECTION */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

@font-face {
  font-family: 'hack';
  src: url('../fonts/hack-regular-webfont.woff2') format('woff2'),
       url('../fonts/hack-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* USER VARIABLES SECTION */

//Global
$index: calc(1vh + 1vw);
$regular-ff: Raleway;
$regular-text: 16px;

//Colors
$General-background: #E2F0F1;
$Soft-accent: #A8CED7;
$Medium-accent: #446F99;
$Strong-accent: #343E59;
$Interactive-accent: #DE4C4D;

$Header-color: $Strong-accent;
$Font-color: $Medium-accent;
$Hover-text-light: white;


$Header-background-color: #FFF;
$Black-element: #000;
$Donat-btn-hover-color: #FF7694;
$accent-color: red;

/* USER STYLES */

::-webkit-scrollbar {
  width: 0; }

.page {
  display: flex;
  justify-content: center; }

.wrap {
  max-width: 1360px;
  width: 100%;
  padding: 0 30px; }

.none {
  display: none; }

/* IMPORT SECTION */
@import "particle";
@import "hamburgers/hamburgers";
@import "header";
@import "helloworld";
@import "start";
@import "ending";

@import "adaptive";
body {
  background-color: $General-background;
  // cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Bongo_Cat_Cursor.png) , default;
  cursor: url(../images/1c44fc4ca9484f09af54c2d0d3d8920b1qPGJIKr1OhroZCs-2.cur) 30 30 , default;
}
a {
  cursor: url(../images/vertopal.com_9c0ac8d0e85a4d91dc54d878e28f3d0ebveoNeW79zdAfQ65-2.cur) 30 30 , default;
}
button {
  cursor: url(../images/vertopal.com_9c0ac8d0e85a4d91dc54d878e28f3d0ebveoNeW79zdAfQ65-2.cur) 30 30 , default;
}

